﻿@model Web.Core.ViewModel.BranchCreateOwnerRequestModel
@{

    var ownerList = new List<Web.Core.ViewModel.BranchCreateOwnerRequestModel>();


    var lastId = ViewBag.LastId ?? 0;

    var isHidden = "";
    if( Model.TotalCount == 1 && Model.TotalCount == Model.OwnerIndexNo)
    {
        isHidden = "";
    }
    if(Model.TotalCount > 1 && Model.TotalCount != Model.OwnerIndexNo)
    {
        isHidden = "hidden";
    }
   // Model.DOB = Model.DOJ = DateTime.Now;
}



<div class="card shadow-0 mb-2 py-2">

    <div class="card-body p-2">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2 pl-2">
                <div class="col-12 p-0 text-xs font-weight-bold text-info text-uppercase mb-1">
                    Owner @(Model.OwnerIndexNo)
                    <span class="float-right">
                        @*<a href="" class="text-gray-500 text-xs  p-1" data-toggle="collapse" data-target="#demo_@i" onclick="vewMore()"><span>More...</span></a>*@
                        <a href="javascript:void(0)" class="text-gray-500 text-xs  p-1" onclick="vewMore('@Model.OwnerIndexNo')"><span>More...</span></a>
                        <a href="#" class="text-info p-1"><i class="fas fa-user-edit" style="display:none;"></i></a>
                        <a href="#" class="text-xs text-danger p-1" style="display:none;"><i class="far fa-trash-alt"></i></a>
                    </span>
                </div>
                <form novalidate="novalidate" class="user">
                    <div class="no-gutters align-items-center mt-4 p-0">
                        <input type="hidden" id="BranchOwnerID_@Model.OwnerIndexNo" value="@Model.BranchOwnerID" />
                        <div class="form-group row">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label>Owner Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-user validation-required req" id="OwnerName_@Model.OwnerIndexNo" value="@Model.OwnerName" placeholder="Owner Name">
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label>Owner Email<span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-user emailid regvalidation" id="EmailAddress_@Model.OwnerIndexNo" value="@Model.EmailAddress" placeholder="EmailAddress">

                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label>Owner DOB<span class="text-danger">*</span></label>
                               @* @Html.TextBoxFor(m => m.DOB, "{0:yyyy-MM-dd}", new { id = "DOB_@Model.OwnerIndexNo", type = "date",@class="form-control form-control-user validation-required req" })*@
                                <input type="date" class="form-control form-control-user validation-required req" id="DOB_@Model.OwnerIndexNo" placeholder="DOB" value="@(Model.DOB==DateTime.MinValue?"": Model.DOB.Date.ToString("yyyy-MM-dd"))">
                            </div>
                        </div>
                        @*<div id="demo_@i" class="collapse">*@
                        <div id="demo_@Model.OwnerIndexNo" class="isShowing">
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Owner DOJ<span class="text-danger">*</span></label>

                                    @*<input type="date" class="form-control form-control-user validation-required req" id="DOJ_@Model.OwnerIndexNo" value="@(Model.DOJ!=null? Model.DOJ.Value.Date.ToString("yyyy-MM-dd"):"")" placeholder="DOJ">*@
                                    <input type="date" class="form-control form-control-user validation-required req" id="DOJ_@Model.OwnerIndexNo" value="@(Model.DOJ==DateTime.MinValue?"":Model.DOJ.Date.ToString("yyyy-MM-dd"))" placeholder="DOJ">

                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Owner Aadhar No.<span class="text-danger">*</span></label>
                                    <input type="tel" class="form-control form-control-user aadharnumber regvalidation" id="AadharNo_@Model.OwnerIndexNo" minlenght="12" maxlength="12" value="@Model.AadharNo" placeholder="AadharNo" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">

                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Owner Voter No<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-user voternumber regvalidation" maxlength="10" id="VoterNo_@Model.OwnerIndexNo" value="@Model.VoterNo" placeholder="VoterNo">

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Owner Pan<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-user pannumber regvalidation" maxlength="10" id="PanNo_@Model.OwnerIndexNo" value="@Model.PanNo" placeholder="Pan No">

                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Primary Phone<span class="text-danger">*</span></label>
                                    <input type="tel" class="form-control form-control-user phoneno regvalidation" maxlength="10" id="PrimaryContactNo_@Model.OwnerIndexNo" value="@Model.PrimaryContactNo" placeholder="Primary ContactNo">

                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Seconday Phone</label>
                                    <input type="tel" class="form-control form-control-user phoneno" id="SecondaryContactNo_@Model.OwnerIndexNo" maxlength="10" value="@Model.SecondaryContactNo" placeholder="Secondary ContactNo No">

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Designation<span class="text-danger">*</span></label>
                                    
                                    @*<input type="text" class="form-control form-control-user validation-required req" id="Designation_@lastId" value="@Model.Designation" placeholder="Designation">*@
                                    <select id="Designation_@Model.OwnerIndexNo" class="form-control form-control-user validation-required req">
                                        <option value="1" @(Model.Designation=="1"?"selected":"")>TRUSTEE</option>
                                        <option value="2" @(Model.Designation=="2"?"selected":"")> MEMBER OF SOCIETY</option>
                                        <option value="3" @(Model.Designation=="3"?"selected":"")> OWNER</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Qualification<span class="text-danger">*</span></label>
                                    <select id="QualificationID_@Model.OwnerIndexNo" class="form-control form-control-user validation-required req">
                                        <option value="1" @(Model.QualificationID==1?"selected":"")>B.E/B.Tech</option>
                                        <option  value="2" @(Model.QualificationID==2?"selected":"")> 10+2 or equivalent</option>
                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="text-right mt-4">
                            <input type="button" class="btn btn-primary" value="Save" onclick="SaveOwner('@Model.OwnerIndexNo')"/>
                            @*<button class="btn btn-primary" type="button"</button>*@
                            @*<a href="#" >

        </a>*@

                            <a href="#" class="btn btn-warning btn-icon-split" @isHidden id="addNewWrn_@Model.OwnerIndexNo" onclick="addNewOwner('@(Model.OwnerIndexNo + 1)')">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Add Owner</span>
                            </a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





