﻿
@model Web.Core.ViewModel.BranchDetailsInsertUpdateRequestModel
@using Web.Core.ViewModel
@{
    var lastUpadetedID = 0;
    Model.Owners = Model.Owners == null ? new List<BranchCreateOwnerRequestModel>() : Model.Owners;
    ViewBag.PageTitle = "Branch Add/Update";
    string isError = "none";
    string errMsg = "";
    if (ViewBag.Error != null)
    {
        errMsg = ViewBag.Error;
        isError = "block";
    }
    int index = 0;
    var lastId = ViewBag.LastId;
}

<div class="container-fluid">

    <!-- Page Heading -->
    @*<h1 class="h3 mb-4 text-gray-800">Branch Add/Update</h1>*@
    @*<form class="user justify-content-center">*@
    <div class="user justify-content-center">
        <div class="col-xl-12 col-md-12 mb-4 p-0">
            <div class="card shadow-0 py-2">
                <div class="card-body p-2">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 pl-2">
                            <div class="text-xl font-weight-600 mb-3 card-Title">Branch Details</div>
                            <p style="display:@isError">@errMsg</p>
                            @using (Html.BeginForm("AddUpdateBranch", "Branch", FormMethod.Post, new { @class = "user justify-content-center", id = "BranchInsert", novalidate = "novalidate" }))
                            {
                                <input type="hidden" name="BranchID" value="@Model.BranchID" id="BranchID" />

                                <div class="">
                                    <div class="form-group row">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label>Branch Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control form-control-user", placeholder = "Branch Name", data_validation = "required" })
                                        </div>
                                        <div class="col-sm-4  mb-3 mb-sm-0">
                                            <label>Branch Type<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.BranchTypeID, new SelectList(Model.BranchTypeList, "BranchTypeId", "BranchTypeName", "select"), "select", new { @class = "form-control form-control-user", data_validation = "required" })
                                            @* <input type="text" class="form-control form-control-user" id="" placeholder="Branch Type ID">*@
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Branch Code<span class="text-danger">*</span></label>
                                            @Html.TextBox("Branch Code", Model.BranchCode, new { @class = "form-control form-control-user", id = "BranchCode", name = "BranchCode", placeholder = "Branch Code", @readonly = "true" })

                                        </div>
                                    </div>





                                    <div class="form-group row">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            @*<label>Branch Address<span class="text-danger">*</span></label>
                                                @Html.TextBoxFor(m => m.BranchAddress, new { @class = "form-control form-control-user", placeholder = "Branch Address", data_validation = "required" })*@
                                            <label>State<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.StateID, new SelectList(Model.StateList, "StateID", "StateName", Model.StateID), "Select List", new { @class = "form-control form-control-user", data_validation = "required" })

                                        </div>
                                        <div class="col-sm-4  mb-3 mb-sm-0">
                                            <label>District<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.DistrictID, new SelectList(Model.DistrictList, "DistrictID", "DistrictName", Model.DistrictID, "Select "), new { @class = "form-control form-control-user", data_validation = "required" })

                                        </div>
                                        <div class="col-sm-4">
                                            <label>Block<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Block, new { @class = "form-control form-control-user", placeholder = "Block", data_validation = "required" })

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label>Post Office<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.PostOffice, new { @class = "form-control form-control-user", placeholder = "Post Office", data_validation = "required" })


                                        </div>
                                        <div class="col-sm-4  mb-3 mb-sm-0">
                                            <label>GP/Municipality<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.GP_Municipality, new { @class = "form-control form-control-user", placeholder = "GP/Municipality", data_validation = "required" })

                                        </div>
                                        <div class="col-sm-4">
                                            <label>Village<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Vill, new { @class = "form-control form-control-user", placeholder = "Village", data_validation = "required" })

                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0">

                                            </div>
                                            <div class="col-sm-4  mb-3 mb-sm-0">

                                            </div>
                                            <div class="col-sm-4">

                                            </div>
                                        </div>*@


                                    <div class="text-right">

                                        <input type="submit" class="btn btn-primary" value="@(Model.BranchID > 0 ? "Update" : "Save")" />

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            @*@if (Model.BranchID > 0)
                {*@
            <input type="hidden" id="lastId" value="@lastId" />
            <div id="div_inssertIUpdateBranch">
                @if (Model.Owners.Count() == 0)
                {
                    <div id="OwnerInUpID_1">
                        @Html.Partial("_InsertUpdateBranchOwner", new BranchCreateOwnerRequestModel() { OwnerIndexNo = 1 })
                    </div>
                }
                @foreach (var item in Model.Owners)
                {

                    item.OwnerIndexNo = index = index + 1;
                    item.TotalCount = Model.Owners.Count();
                    <div id="OwnerInUpID_@item.OwnerIndexNo">
                        @Html.Partial("_InsertUpdateBranchOwner", item)
                    </div>
                }

            </div>
            <div class="text-right mt-3">
                <a href="#" class="btn btn-primary" onclick="SubmitAllOwner()">
                    Submit
                </a>
            </div><!--add-owner-BTN-->
            @*}*@


        </div><!--common-form-div-->
    </div>
</div>
@section script{


    <script>
        var distict = @Html.Raw(Json.Encode(Model.DistrictList));

        var ownerList =  @Html.Raw(Json.Encode(Model.Owners));

        $(document).ready(function () {
            setTimeout(function () {
                if ($("#StateID").val() > 0) {

                }
            }, 1);

            console.log(ownerList);
        });

            $("#StateID").change(function () {

            var seletedDistrict = [];

                var stateID = parseInt($(this).val());

                console.log(stateID)
                seletedDistrict = distict.filter(x => x.StateID === stateID);
                $("#DistrictID").empty();
                $("#DistrictID").append('<option value="">Select District</option>');

                for (var i = 0; i < seletedDistrict.length; i++) {

                $("#DistrictID").append('<option value="' + seletedDistrict[i].DistrictID + '">' +
                    seletedDistrict[i].DistrictName + '</option>');
            }

            });

        function updateDistictList() {

        }

        function vewMore(id) {

            if ($("#demo_" + id).hasClass("isShowing")) {
                $("#demo_" + id).attr("hidden", true).removeClass("isShowing");

            }
            else {
                $("#demo_" + id).removeAttr("hidden").addClass("isShowing");

            }
        }
        (function () {

            //setTimeout(10, function () {
            //    var lastID = +$("#lastAddedID").val();
            //    if (lastID > 1) {
            //        lastID = lastID - 1;
            //    }
            //    if (lastID == 0) {
            //    //    $("#demo_" + i).removeAttr("hidden").addClass("isShowing");
            //    }
            //    for (var i = 0; i = lastID; i--) {
            //        $("#demo_" + i).removeAttr("hidden").addClass("isShowing");

            //    }
            //})

        })();
        function addNewOwner(ownerIndexNo) {

            $("#div_inssertIUpdateBranch").append('<div id="OwnerInUpID_' +ownerIndexNo + '"></div>');


            $('#OwnerInUpID_' + ownerIndexNo).load('@Url.Action("AddNewOwner", "Branch")' + "?LastId=" + ownerIndexNo);


            //if ($("#demo_" + ( +lastDivID-1)).hasClass("isShowing")) {
            //    $("#demo_" + (+lastDivID - 1)).attr("hidden", true).removeClass("isShowing");

            //}
            //console.log(lastDivID);
            //vewMore(+lastDivID);
            $("#addNewWrn_" + (+ownerIndexNo -1)).attr("hidden", true);

        }
        function SaveOwner(id) {

            ////  validateOwner(id);

            var status = 1;
            $(".validation-required").filter(function () {
                if ($.trim($(this).val())== "") {
                    $(this).removeClass("valid");
                    $(this).addClass("error");
                    status = 0;
                }
                else {

                    $(this).removeClass("error");
                    $(this).addClass("valid");
                }
            });

            $(".regvalidation").filter(function () {
                if ($.trim($(this).val()).length == "") {
                    $(this).removeClass("valid");
                    $(this).addClass("error");
                    status = 0;
                }
                else {
                    if ($(this).hasClass("error")) {
                        status = 0;
                    }
                    else {
                        $(this).removeClass("error");
                        $(this).addClass("valid");
                    }
                }
            });

            console.log(status);
            if (status == 0) {
                alert("Provide all field values");
            }
            if (status == 1) {

                ownerList = ownerList.filter(i => i.OwnerIndexNo != id);
                console.log(ownerList);
               // var ddob = getFormattedDate( new Date($("#DOB_" + id).val()));
               // var ddoj = getFormattedDate( new Date($("#DOJ_" + id).val()));
               // console.log(getFormattedDate(ddob));
                var ob = {
                    BranchID: $("#BranchID").val(),
                    BranchOwnerID: $("#BranchOwnerID_" + id).val(),
                    //TempOwnerID :id,
                    OwnerName: $("#OwnerName_" + id).val(),
                    QualificationID: $("#QualificationID_" + id).val(),
                    Designation: $("#Designation_" + id).val(),
                    DOB: $("#DOB_" + id).val(),
                    DOJ: $("#DOJ_" + id).val(),
                    AadharNo: $("#AadharNo_" + id).val(),
                    VoterNo: $("#VoterNo_" + id).val(),
                    PanNo: $("#PanNo_" + id).val(),
                    PrimaryContactNo: $("#PrimaryContactNo_" + id).val(),
                    SecondaryContactNo: $("#SecondaryContactNo_" + id).val(),
                    EmailAddress: $("#EmailAddress_" + id).val(),
                    IsActive:1
                };

                ownerList.push(ob);
                console.log(ownerList)
            }
       }
        function SubmitAllOwner() {
            if (ownerList.length <= 0) {
                return false;
            }
            console.log("Owner List:" + ownerList);
           var url = '@Url.Action("InsertUpdateBranchOwner", "Branch")';
                $.ajax({
                type: "POST",
                url: url,
                    data: { model: ownerList },
                // contentType: "application/json; charset=utf-8",
                // dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.IsSucess = true) {
                        alert("Data Updated successfully!");
                    } else {
                        alert("Data Update Faild!");

                    }
                },
                    error: function (err) {
                        alert("Something went wrong!")
                    console.log(err);
                }
            });
        }
        function getFormattedDate(date) {
            console.log(date);
            var year = date.getFullYear();

            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;

            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;

            return month + '/' + day + '/' + year;
        }

    </script>
  
}

<script src="~/Content/js/jquery.1.10.2.min.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/myScript.js"></script>