﻿@model IEnumerable<Web.Core.ViewModel.StudentQueryViewModel>
@{
    // Layout = null;
    ViewBag.PageTitle = "Student Query";

}
<style>
    .isreadClass {
        background-color: cornflowerblue;
    }
</style>

<div class="container-fluid">
    @* <h1 class="h3 mb-4 text-gray-800">Branch Users</h1>*@
    <label>Total Unread :@Model.FirstOrDefault().TotalUnreadCount</label>   <label>Total Read: @Model.FirstOrDefault().TotalReadCount</label>
    <div class="justify-content-center row mb-3">
        <div class="col-xl-12 col-md-12 mb-1">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <table class="table table-active table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr class="bg-light">
                                <th>Student Name</th>
                                @*<th>Edupreneur Address</th>*@
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Location</th>
                                <th class="with-50">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr onclick="ToogleChild('@(item.StudentQueryID)')" class="@(item.IsRead == true ? "" : "isreadClass")">
                                    <td>
                                        <input type="hidden" id="isRead_@item.StudentQueryID" value="@item.IsRead" />
                                        <a href="javascript:void(0)" class="parentClass pr-1" id=@("parent_"+item.StudentQueryID)><i class="fas fa-plus-circle"></i></a> @item.StudentName
                                    </td>
                                    @*<td>@item.s</td>*@
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Location</td>
                                    <td>
                                        <div class="outerDivFull">
                                            <div class="switchToggle">
                                                <input type="checkbox" id="switch" checked>
                                                <label for="switch">Toggle</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="childClass child collapse bg-transparent" id=@("child_parent_"+item.StudentQueryID)>
                                    <td class="child" colspan="7">
                                        <div class="card mb-1">

                                            <div class="row m-0">
                                                <div class="col-6 col-md-3">
                                                    <p><b>Query</b><span class="d-block">@item.Query</span></p>
                                                </div>
                                                <div class="col-6 col-md-2">
                                                    <p><b>Phone</b><span class="d-block">@item.UpdatedBy</span></p>
                                                </div>
                                                <div class="col-6 col-md-3">
                                                    <p><b>Comment</b><span class="d-block">@item.Comment</span></p>
                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                </tr>



                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section script{
    <script>
        function ToogleChild(id) {


            if ($("#parent_" + id).hasClass('isShowing')) {
                $("#parent_" + id).removeClass("isShowing").find('i').toggleClass('fa-plus-circle fa-minus-circle');
                $("#child_" + id).hide();
            } else {
                $("#parent_" + id).addClass("isShowing").find('i').toggleClass('fa-minus-circle fa-plus-circle');
                $("#child_" + id).show();
            }

            if ($("#isRead_" + id).val() == false) {
                  var url = '@Url.Action("UpdateIsReadStudentQuery", "Branch")';
                $.ajax({
                    type: "GET",
                    url: url + "?studentQueryID=" + id + "&isRead=" + true,
                   // data: { model: ownerList },
                // contentType: "application/json; charset=utf-8",
                // dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.IsSucess = true) {
                        window.location.reload();
                    } else {
                        alert("Data Update Faild!");

                    }
                },
                    error: function (err) {
                        alert("Something went wrong!")
                    console.log(err);
                }
            });
            }
        }
    </script>
}