﻿@model Web.Core.ViewModel.SessionInsertUpdateRequestModel
@{
    ViewBag.PageTitle = "Session Add/Update";
    string isError = "none";
    string errMsg = "";
    if (ViewBag.Error != null)
    {
        errMsg = ViewBag.Error;
        isError = "block";
    }
}

<div class="container-fluid">
    <div class="user justify-content-center">
        <div class="col-xl-12 col-md-12 mb-4 p-0">
            <div class="card shadow-0 py-2">
                <div class="card-body p-2">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 pl-2">
                            <div class="text-xl font-weight-600 mb-3 card-Title">Session Details</div>
                            <p style="display:@isError">@errMsg</p>
                            @using (Html.BeginForm("AddUpdateSession", "Session", FormMethod.Post, new { @class = "user justify-content-center", id = "SessionInsert", novalidate = "novalidate" }))
                            {
                                <input type="hidden" name="SessionID" value="@Model.SessionID" id="SessionID" />
                                <input type="hidden" name="IsActive" value="@(Model.SessionID > 0 ? Model.IsActive : 1)" id="IsActive" />
                                <div class="">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label>Session Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.SessionName, new { @class = "form-control form-control-user", placeholder = "Session Name", data_validation = "required" })
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Session Description</label>
                                            @Html.TextBoxFor(m => m.SessionDesc, new { @class = "form-control form-control-user", placeholder = "Session Description" })
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <input type="submit" class="btn btn-primary" value="@(Model.SessionID > 0 ? "Update" : "Save")" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/jquery.1.10.2.min.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/myScript.js"></script>