﻿@{
    Layout = null;
    bool isUser = ViewBag.IsUser;
    string resMsg = ViewBag.Message;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Login</title>


    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    @Styles.Render("~/bundel/RenderCss")


</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                                    </div>
                                    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "user", id = "loginForm", novalidate = "novalidate" }))
                                    {

                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" name="userName" id="userName" aria-describedby="emailHelp" placeholder="Enter Email Address..." data_validation="required" @(isUser ? "disabled" : "")/>
                                        </div>
                                        @*<div class="form-group">

                 <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
            </div>*@

                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-user pl-5 pr-5">Sent Reset Password Link</button>

                                        </div>
                                    }
                                    <hr>
                                  
                                        <div class="text-center">
                                            <h1 class="h5 text-gray-900 mb-4">@resMsg</h1>
                                        </div>
                                    
                                    <div class="text-center">
                                        @Html.ActionLink("Back to Login!", "Index", "Login", null, new { @class = "small text-bold-500" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="~/Content/js/jquery.1.10.2.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/myScript.js"></script>

</body>

</html>


