﻿@model Web.Core.ViewModel.RegistrationModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Registration</title>


    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    @Styles.Render("~/bundel/RenderCss")

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome to Admin!</h1>
                                    </div>
                                    @using (Html.BeginForm("Registration", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "user", id = "registrationForm", novalidate = "novalidate" }))
                                    {

                                        <div class="form-group">
                                            <label>First Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-user", placeholder = "Enter First Name", data_validation = "required" })

                                            @* <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-user", placeholder = "Enter Last Name", data_validation = "required" })

                                            @* <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                                        </div> <div class="form-group">
                                            <label>Email ID<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control form-control-user", placeholder = "Enter Your Email", data_validation = "email" })

                                            @* <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                                        </div> <div class="form-group">
                                            <label>Password<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = "Enter Your Password", type = "password", data_validation = "required" })

                                            @* <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                                        </div>
                                        <div class="form-group">
                                            <label>Phone No.<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-user", placeholder = "Enter Your Phone No.", type = "tel", data_validation = "required" })

                                            @* <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                                        </div>
                                        <div class="form-group">
                                            <label>Branch<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.BranchId, new SelectList(Model.BranchList, "BranchID", "BranchName", "select"), "Select Branch", new { @class = "form-control form-control-user", data_validation = "required" })

                                            @* <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">*@
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary btn-user pl-5 pr-5">Submit</button>

                                        </div>
                                    }
                                    <hr>
                                    <div class="text-center">
                                        <h1 class="h5 text-danger mb-4">@(ViewBag.isUserExist ? ViewBag.message : "")</h1>
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("Back to Login!", "Index", "Login", null, new { @class = "small text-bold-500" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <script src="~/Content/js/jquery.1.10.2.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/myScript.js"></script>
</body>

</html>

<script>
    function myFunction() {
        alert();
    }
</script>
