﻿@model WEB.Controllers.UserResponseTracker
@{
    Layout = null;
    var userID = ViewBag.UserID;

}

<!--Add-RoleModel-->




<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">User Role</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="UserRoleSelectArea">
    @foreach (var item in Model.Roles)
    {
        var isChecked = Model.UserRole.Any(m => m.RoleID == item.RoleID);
        <div class="form-group">
            <div class="custom-control custom-checkbox">

                @*<input type="checkbox" class="custom-control-input theClass" value="@item.RoleID" id="customCheck_@item.RoleID" checked="checked" />*@

                <input type="checkbox" class="custom-control-input" id="customCheck_@item.RoleID" value="@item.RoleID" @(isChecked ? "checked" : "") />
                <label class="custom-control-label" for="customCheck_@item.RoleID">@item.RoleName</label>
            </div>
        </div>
    }
   

    <div class="text-right mt-5">
        <button type="button" class="btn btn-primary btn-user" onclick="UserRoleAddUpdate(@userID)">Save</button>
    </div>
</div>

<script>
    function UserRoleAddUpdate(userId) {
        var arr = [];

        $('#UserRoleSelectArea input:checkbox').each(function () {
            var roleId = (this.checked ? $(this).val() : "");

            if (roleId != "") { arr.push(roleId) }
        });

        var url = '@Url.Action("AddUpdateUserModal","Users")';
           // console.log(c);
            $.ajax({
                type: "POST",
                url: url,
                data: { UserID: userId, userRoleIds: arr.join(',') },
               // contentType: "application/json; charset=utf-8",
               // dataType: "json",
                success: function (data) {
                    $('#RoleModal').modal('hide');
                    window.location.reload();
                },
                error: function (err) {
                    console.log(err);
                }
            });
      
    }
</script>