﻿@model WEB.Controllers.UserResponseTracker

@{
    int selectedUserID = 0;
    ViewBag.PageTitle = "User List";
}
<div class="container-fluid">
    <!-- Page Heading -->

    @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { id = "frmSearch" }))
    {
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @*<h1 class="h3 mb-4 text-gray-800">User List</h1>*@
                <a href="/login/registration" class="h6 mb-2 text-blue"><i class="fa fa-plus fa-sm"></i> Add User</a>
            </div>
            <div class="offset-0 offset-md-3 col-sm-2  mb-3 mb-sm-0">
                @Html.DropDownList("BranchID", new SelectList(Model.BranchList, "BranchID", "BranchName", ""), "Select Branch", new { @class = "form-control", @onchange = "SearchByBranch()" })
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    @Html.TextBox("UserName", "", new { @class = "form-control border-0 small", @placeholder = "Search", @onchange = "SearchByBranch()" })
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="justify-content-center row mb-3">
            <div class="col-xl-12 col-md-12 mb-1">
                @foreach (var item in Model.Users)
                {
                    <div class="card shadow-0 mb-2">
                        <div class="card-body p-2">
                            <div class="no-gutters align-items-center">
                                <div class="col-12 p-0 pl-2 text-s font-weight-bold text-info text-uppercase mb-1 branchName ">
                                    <h6 class="float-left text-dark font-weight-bold">
                                        <a href="" class="pl-1 pr-1" data-toggle="collapse" data-target="#user_@item.UserID"><i class="fas fa-plus-circle"></i></a>
                                        @item.FirstName  @item.LastName (@item.EmailID)
                                    </h6>
                                    <span class="float-right">
                                        @*<a href="/Login/Registration" class="text-info p-1">ADD Users</a>*@
                                        <a href="#" class="text-info p-1"><i class="fas fa-user-edit"></i></a>
                                        @*<a href="" class="text-gray-500 text-xs  p-1 pr-2" data-toggle="collapse" data-target="#user_@item.UserID"><span>More...</span></a>*@
                                        <a href="#" class="text-dark text-xs p-1 pl-2 border-left" onclick="GetUserRole(@item.UserID)"><i class="fas fa-plus"></i> Add Role</a>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                                <form class="user col-12 p-0">
                                    <div id="user_@item.UserID" class="collapse">
                                        <div class="no-gutters align-items-center mt-4 p-0">
                                            <div class="form-group row m-0">
                                                <div class="col-md-4 mb-3 mb-sm-0">
                                                    <label>Phone No.</label>
                                                    <input type="text" class="form-control form-control-user more-user-input" value="@item.PhoneNumber" readonly>
                                                </div>
                                                @*<div class="col-md-4">
                                                    <input type="text" class="form-control form-control-user" id="" placeholder="Qualification ID">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control form-control-user" id="" placeholder="Qualification ID">
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer ulist pb-1 pt-2 bg-gray-100">
                            <div class="mb-1 d-md-flex">
                                <span class="mb-3 mb-md-0">User Role</span>
                                <div class="ml-md-3 pl-md-3">
                                    @foreach (var i in item.UserRoles ?? new List<Web.Core.ViewModel.RoleDataModel>())
                                    {
                                        <a class="p-1 pl-2 border-left">@i.RoleName</a>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>

<div class="modal fade" id="RoleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered add-role-model">
        <div class="modal-content" id="roleContant">

        </div>
    </div>
</div>
<input type="hidden" id="SelecetdUserID" value="0" />
@section script{

    <script>

        function GetUserRole(userid) {
            console.log(userid);
            $("#SelecetdUserID").val(userid);
            //var url =ur
            var url = '@Url.Action("AddUpdateUserModal","Users")' + "?UserID=" + userid;
           // console.log(c);
            $.ajax({
                type: "GET",
                url: url,
               // data: { UserID: userid },
               // contentType: "application/json; charset=utf-8",
               // dataType: "json",
                success: function (data) {
                    $("#roleContant").html("");
                    $("#roleContant").html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
            $('#RoleModal').modal('show');
            }

    function SearchByBranch() {
            $("#frmSearch").submit();
        }
    </script>
}
