﻿@model IEnumerable<Web.Core.ViewModel.ClassMasterDataModel>
@{
    ViewBag.PageTitle = "Class Master";
}

<!DOCTYPE html>

<div class="container-fluid">
    @* <h1 class="h3 mb-4 text-gray-800">Branch Users</h1>*@

    @using (Html.BeginForm("Index", "Class", FormMethod.Post, new { id = "frmSearch" }))
    {
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @* <h1 class="h3 mb-4 text-gray-800">Branch List</h1>*@
            </div>
            <div class="col-sm-4  mb-3 mb-sm-0">
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    @Html.TextBox("ClassName", "", new { @class = "form-control border-0 small", @placeholder = "Search", @onchange = "SearchByClass()" })
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="justify-content-center row mb-3">
        <div class="col-xl-12 col-md-12 mb-1">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <table class="table table-active table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr class="bg-light">

                                <th>Class Name</th>
                                <th>Class Description</th>
                                <th>Session</th>
                                <th class="with-50">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.ClassName</td>
                                <td>@item.ClassDescription</td>
                                <td>@item.SessionName</td>
                                <td><a href="Class/AddUpdateClass?ClassID=@item.ClassID" class="text-info p-1"><i class="fas fa-user-edit"></i></a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{

    <script>

        function SearchByClass() {
            $("#frmSearch").submit();
        }
    </script>
}
