﻿<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        @*<div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>*@
        <div class="sidebar-brand-text mx-3">Brand Name</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-user"></i>
            <span>Users</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @Html.ActionLink("Users", "Index", "Users", null, new { @class = "collapse-item" })

                @* @Html.ActionLink("Add/Update Branch", "Branch", "AddUpdateBranch", new { @class = "collapse-item" })*@
                @* <a class="collapse-item" href="#" @Html.ActionLink("Home", "Index", "Home")>Add/Update Branch</a>*@
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Branch</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @Html.ActionLink("Branch", "Index", "Branch", null, new { @class = "collapse-item" })

                @Html.ActionLink("Add/Update Branch", "AddUpdateBranch", "Branch", null, new { @class = "collapse-item" })
                @Html.ActionLink("Branch Query", "BranchQuery", "Branch", null, new { @class = "collapse-item" })
                @Html.ActionLink("Student Query", "StudentQuery", "Branch", null, new { @class = "collapse-item" })
                @* <a class="collapse-item" href="#" @Html.ActionLink("Home", "Index", "Home")>Add/Update Branch</a>*@
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-cog"></i>
            <span>Student</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @Html.ActionLink("Session Master", "Index", "Session", null, new { @class = "collapse-item" })
                @Html.ActionLink("Class Master", "Index", "Class", null, new { @class = "collapse-item" })
                @Html.ActionLink("Section Master", "Index", "Section", null, new { @class = "collapse-item" })
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
