﻿@model  IEnumerable<Web.Core.ViewModel.StudentDetailsDataModel>
@{
    var v = Model;
    ViewBag.PageTitle = "Student List";

}

<!DOCTYPE html>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->

    @using (Html.BeginForm("Index", "Student", FormMethod.Post, new { id = "frmSearch" }))
    {
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @* <h1 class="h3 mb-4 text-gray-800">Branch List</h1>*@
            </div>
            <div class="col-sm-4  mb-3 mb-sm-0">
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    @Html.TextBox("StudentName", "", new { @class = "form-control border-0 small", @placeholder = "Search", @onchange = "SearchByStudent()" })
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="justify-content-center row mb-3">
        @foreach (var item in Model)
        {
            <div class="col-xl-12 col-md-12 mb-1">
                <div class="card shadow-0 mb-2">
                    <div class="card-body p-2">
                        <div class="no-gutters align-items-center">
                            <div class="col-12 p-0 pl-2 text-s font-weight-bold text-info text-uppercase mb-1 branchName">
                                <h6 class="float-left text-dark font-weight-bold">@item.Branch.BranchName-(@item.Branch.BranchCode)</h6>
                                <span class="float-right">
                                    <a href="Branch/AddUpdateBranch?BranchID=@item.Branch.BranchID" class="text-info p-1"><i class="fas fa-user-edit"></i></a>
                                    <a href="JavaScript:void(0)" class="text-dark text-xs  p-1 pr-2" data-toggle="collapse" data-target="#ownr_@item.Branch.BranchID"><span>View Owner</span></a>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-12 p-0 mt-1 pt-2 text-s font-weight-bold text-info text-normal border-top ">
                                <div class="text-xs font-weight-bold text-secondary  mb-1 d-md-flex">

                                    <div class="bulist">

                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">Branch Type :</span> @item.Branch.BranchTypeName</a>
                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">Branch Address :</span> @item.Branch.BranchAddress</a>
                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">Vill. :</span> @item.Branch.Vill</a>
                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">Post Office :</span> @item.Branch.PostOffice</a>
                                        @*<a class="text-dark text-xs p-1 pl-2"><span class="mr-1 text-xs font-weight-bold text-secondary ">GP/Municipality :</span> @item.Branch.GP_Municipality</a>*@
                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">Block :</span> @item.Branch.Block</a>
                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">Satate :</span> @item.Branch.StateName</a>
                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">District :</span> @item.Branch.DistrictName</a>
                                        @*<a class="text-dark text-xs p-1 pl-2"><span class="mr-1 text-xs font-weight-bold text-secondary ">Created Date :</span> @item.Branch.CreatedDate.Value.Date</a>*@
                                        <a class="p-1 pl-2 pr-2"><span class="mr-1">Is Active :</span> @(@item.Branch.IsActive ? "Yes" : "No")</a>




                                    </div>
                                </div>
                            </div>
                            <form class="user">
                                <div id="ownr_@item.Branch.BranchID" class="collapse">
                                    <div class="no-gutters align-items-center mt-4 p-0">
                                        @if (item.BranchOwners.Count == 0)
                                        {
                                            <div class="col-12 ownerbg mb-2">
                                                <p>No Records Found</p>
                                            </div>

                                        }
                                        @foreach (var ow in item.BranchOwners)
                                        {
                                            <div class="col-12 ownerbg mb-2">
                                                <a href="#" class="d-block p-2 border-bottom text-dark text-xs font-weight-bold bg-gray-200" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1">@ow.OwnerName (@ow.EmailAddress)</a>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                                                            <div class="card-body border-none">
                                                                <div class="col-6">
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Name :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.OwnerName</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Contact No :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.PrimaryContactNo</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Seconday No :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.SecondaryContactNo</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Date of Birth :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.DOB.Date</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Date of Join :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.DOJ.Date</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Qualification Name :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.QualificationName</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Aadhar No :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.AadharNo</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Voter No :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.VoterNo</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-0 mb-3">
                                                                        <div class="col-5 pl-0 pr-4">
                                                                            Pan No :
                                                                        </div>
                                                                        <div class="col-7 text-dark text-xs">
                                                                            <b>@ow.PanNo</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--end-card-1-->

        }




    </div>


</div>
<!-- /.container-fluid -->
