﻿@model Web.Core.ViewModel.SectionInsertUpdateRequestModel
@{
    ViewBag.PageTitle = "Section Add/Update";
    string isError = "none";
    string errMsg = "";
    if (ViewBag.Error != null)
    {
        errMsg = ViewBag.Error;
        isError = "block";
    }
}

<div class="container-fluid">
    <div class="user justify-content-center">
        <div class="col-xl-12 col-md-12 mb-4 p-0">
            <div class="card shadow-0 py-2">
                <div class="card-body p-2">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 pl-2">
                            <div class="text-xl font-weight-600 mb-3 card-Title">Section Details</div>
                            <p style="display:@isError">@errMsg</p>
                            @using (Html.BeginForm("AddUpdateSection", "Section", FormMethod.Post, new { @class = "user justify-content-center", id = "SectionInsert", novalidate = "novalidate" }))
                            {
                                <input type="hidden" name="SectionID" value="@Model.SectionID" id="SectionID" />
                                <input type="hidden" name="IsActive" value="@(Model.SectionID > 0 ? Model.IsActive : 1)" id="IsActive" />
                                <div class="">
                                    <div class="form-group row">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label>Section Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control form-control-user", placeholder = "Section Name", data_validation = "required" })
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Section Description</label>
                                            @Html.TextBoxFor(m => m.SectionDesc, new { @class = "form-control form-control-user", placeholder = "Section Description" })
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Class</label>
                                            @Html.DropDownListFor(m => m.ClassID, new SelectList(Model.ddlClass, "ClassID", "ClassName", Model.ClassID), "select", new { @class = "form-control form-control-user", data_validation = "required" })
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <input type="submit" class="btn btn-primary" value="@(Model.SectionID > 0 ? "Update" : "Save")" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/jquery.1.10.2.min.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/myScript.js"></script>


